.about_content
  h3 Hi, My name is Nicholas
  p Welcome to my website.  I'm starting my journey as a web developer.  This blog will document some of the challenges as well as stuff that I find interesting in the world of computing.

  p I started off 2016 with an 8 week web development bootcamp at <a href='https://www.lighthouselabs.ca/web'>Lighthouse Labs</a>.  I have developed several projects and am looking for work.

  p My skills are strongest in javascript and Ruby.  I have experience with several frameworks including: Rails, Node.js, Express, and Sinatra.  This website is built with Harpjs which uses Node.

  p Check out some of my other projects such as:

  a(href='http://mappingclaims.com') MappingClaims.com
  img(src='img/sites/MCM.png')
  img(src='img/sites/MCM2.png')
  p Built with Node.js, MongoDB, Express and Mapbox-GL.js.


#aside
  img(src='img/head.jpg') 
  ul
    li
      <a href="https://twitter.com/loopylettuce"> 
      span(class="fa fa-twitter") Twitter
    li
      <a href="https://github.com/ngust">
      span(class="fa fa-github") Github </a>
    li
      <a href="https://www.linkedin.com/in/nicholasgust">
      span(class="fa fa-linkedin") LinkedIn </a>


