- function excerpt(content) {
  - if(content.indexOf("<!-- more -->") == -1) return content;
  - else return content.split("<!-- more -->")[1];
- }

  each article, slug in public.articles._data
   
      a( class="titleLink"  href="/articles/#{ slug }") <h2> #{ article.title } </h2>

      != excerpt(partial("articles/" + slug ))
