h2 Ubuntu Available in Windows 10

p Apparently you will soon be able to use Ubuntu inside Windows 10. That is really cool. I dual boot Windows and Linux right now and I hate having to switch between them. This could be a dream come true.